/* --- GLOBAL STYLES --- */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  color: #222;
  background-color: #fafafa;
  font-size: 16px;
}

/* --- HEADERS & TEXT --- */
header, section {
  text-align: center;
  padding: 60px 20px;
}

h1, h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #0077cc;
  text-decoration: none;
}

/* --- PROJECT STYLING --- */
.project img {
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

.project h3 {
  margin: 10px 0 5px;
}

/* --- FOOTER --- */
footer {
  background: #703500;
  padding: 20px;
  font-size: 14px;
  color: white;
}

/* --- HEADER & NAVIGATION --- */
header {
  text-align: left; 
  background-color: #703500; 
  color: white;
  padding: 20px 40px;
}

.logo img {
  height: 90px;
}


.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: #f2f2f2;
}

/* --- Call to Action ---*/
#cta {
  background-color: #38322d;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

#cta p {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-button {
  display: inline block;
  background-color: #703500;
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3
}

.cta-button:hover {
  background-color: #642f01;
}

.header-container {
  display: flex;                 /* makes logo + nav sit side by side */
  align-items: center;           /* vertically center them */
  justify-content: space-between;/* logo left, nav right */
}